/* Basislayout */

html, body {
    height: 100%;
    padding: 0;  
    color: #303030;
    font-family: cursive;
    padding: 75px;

}

main {
    margin: 0 auto;
    width: 900px;
    position: relative;
    padding: 300px;
    
}

header {
    color: black;
    text-align: center;
    font-family: sierlijk;
    font-size: 60px;
    padding: 0px;
    
}

/* specifieke stijlen */


a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    background-image: url("afbeeldingen/BSachtergrond.jpg");    
}


/* footer info */
.smalltext {
    font-size:0.7em;
    text-align: center;
}

.lijn {
    width: 65%;
}

.mail {
    text-align: center;
}



/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: rgb(206, 207, 209);
    overflow: hidden;
    width: 588px;
    border: 1px solid #e7e7e7;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}

nav li a:hover {
    background-color: rgb(51, 196, 253)
}

nav li a.active {
    background-color: rgb(101, 211, 255);
}

/* fonts */

@font-face {
    font-family: sierlijk;
    src: url(fonts/sierlijk.ttf)
}

@font-face {
    font-family: notes;
    src: url(fonts/notes.ttf)
}

@font-face {
    font-family: roberts;
    src: url(fonts/roberts.ttf)
}

/* geboorte stijlen */

#buik {
    background-color: rgb(233, 233, 233);
    width: 800px;
    margin: auto;
    padding: 12px;
    text-align: center; 
    font-size: 25px;
    font-family: notes;
}

#vervolg-buik{
    font-family: monospace;
    font-size: 20px;
    background-color: rgb(233, 233, 233);
    width: 800px;
    margin: auto;
    padding: 12px;
}

span {
  background: rgb(130, 235, 243);
  border-radius: 45% 0%;
  box-shadow: 0 0 12px rgb(30, 111, 165), 0 0 3px beige inset;
  padding: .5em 1.3em;
  box-decoration-break: clone;
  position: absolute;
  left: 360px;
}

#mei {
    background-color: rgb(233, 233, 233);
    width: 800px;
    margin: auto;
    padding: 12px;
    text-align: center; 
    font-size: 25px;
    font-family: notes;

}

#vervolg-mei{
    font-family: monospace;
    font-size: 20px;
    background-color: rgb(233, 233, 233);
    width: 415px;
    position: absolute;
    left: 339px;
    margin: auto;
    padding: 12px;
}

/* images info */

.echo-baby{
    border-radius: 8px;
    position: absolute;
    left: 820px;
}

.mutsje {
    border-radius: 8px;
    position: absolute;
    left: 820px;
}

.hand{
    border-radius: 8px;
    position: absolute;
    left: 360px;
    top: 2300px;
}

.slapend {
    border-radius: 8px;
    transform: scaleY(-1);

}

.gapen {
    border-radius: 8px;
    position: absolute;
    right: 29%;
}
