/* Basislayout */

html, body {
    height: 100%;
    padding: 0;  
    color: #303030;
    font-family: 'Times New Roman';
    font-size:22px;
}

main {
    margin: 0 auto;
    width: 900px;
}

header {
    color: black;
    text-align: center;
    font-family: sierlijk;
    font-size: 55px;
    margin-top: 250px;
}

/* specifieke en algemene stijlen */

h1 {
    height: 3em;
}

a {
    color: rgb(0, 170, 142);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    background-image: url("afbeeldingen/BSachtergrond.jpg");    
}

.clear {
    clear:both;
}

.hoofdkopjes {
    background-color: rgb(233, 233, 233);
    width: 800px;
    margin: auto;
    padding: 12px;
    text-align: center; 
    font-size: 28px;
    margin-top: 35px;
}

.basickopjes{
    background-color: rgb(233, 233, 233);
    margin: auto;
    padding: 15px;
    text-align: center;
}

/* footer info */
.smalltext {
    font-size:0.7em;
    text-align: center;
    margin-bottom: 50px;
}

.lijn {
    width: 800px;
}

.mail {
    font-family: monospace, 'times new roman';
    text-align: center;
    font-size:0.8em;
}



/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: rgb(171, 197, 245);
    overflow: hidden;
    width: 660px;
    border: 1px solid white;
    font-family: sierlijk;
    text-shadow: 4px 4px 0px rgba(0,0,0,0.1); 
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}

nav li a:hover {
    background-color: rgb(51, 196, 253)
}

nav li a.active {
    background-color: rgb(101, 211, 255);
}

/* fonts */

@font-face {
    font-family: sierlijk;
    src: url(fonts/sierlijk.ttf)
}

@font-face {
    font-family: notes;
    src: url(fonts/notes.ttf)
}

/* geboorte stijlen */

#buik{
    font-family: notes;
}

#vervolg-buik{
    width: 800px;
    margin: auto;
    margin-bottom:60px;
}

span {
  background: rgb(130, 235, 243);
  border-radius: 45% 0%;
  box-shadow: 0 0 12px rgb(30, 111, 165), 0 0 3px beige inset;
  padding: .5em 1.3em;
  box-decoration-break: clone;
  font-size: 16px;
  margin-left: 50px;
  clear:left;
}

#mei {
    width: 800px;
    font-family: notes;
}

#vervolg-mei{
    float: left;
    margin: 10px;
    margin-left:39px;
    width: 540px;
}

/* images info */

#beschuit{
    margin-top: -30px;
    width: 300px;
    /* border-radius: 8px;
    margin: 25px;
    margin-top: 0px;
    margin-right: 55px; */
}

.plaatjerechts {
    border-radius: 8px;
    margin:30px;
    float: right;
    width: 300px;
    margin-right: 60px;
}

.plaatjemidden {
    border-radius: 8px;
    margin:30px;
    display: block;
    margin:auto;
    width: 300px;
}

.plaatjes2oprij{
    border-radius: 8px;
    margin:20px;
    float: left;
    width: 250px;
    margin-left: 120px;
    margin-bottom: 35px;
}

.mutsje {
    border-radius: 8px;
    width: 230px;
    margin: 5px;
}

.hand{
    border-radius: 8px;
    width: 250px;
    margin: 5px;
    float: right;
}

.slapend {
    border-radius: 8px;
    transform: scaleY(-1);
    position: relative;

}

.gapen {
    border-radius: 8px;
    position: relative;
    right: 29%;
}

/* eerste css */

#eerste-over-mij{
    font-family: carlijn;

}
